*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
  .button {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color:#f7ba3e;
    padding: 5px 10px;
    border-radius: 4px;
    opacity: 0.8;
  }
  .button:hover {
    opacity: 1;
  }
  .layout {
    width: 1200px;
    margin: 0 auto;
  }
  body {
    font: 14px/1.5 Arial;
    background-color:#fff;
    color: #444;
  }
  
  header .logo {
    color: #f7ba3e;
    font-size: 32px;
    float: left;
    margin-top: 10px;
  }
  header .nav {
    float: right;
  }
  header .nav > li {
    float: left;
    margin: 10px;
  }
  header .nav a {
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
  }
  header .nav a:hover {
    background: #f7ba3e;
  }
  header .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
  }
  header .intro h1 {
    font-size: 32px;
  }
  header .intro h2 {
    font-size: 46px;
    margin-top: 20px;
  }
  header .intro .button {
    margin-top: 20px;
  }
  section {
    margin-top: 30px;
    text-align: center;
  }
  section > h2 {
    font-size: 40px;
  }
  section > p {
    margin-top: 10px;
  }
  section > ul .iconfont {
    font-size: 60px;
  }
  section .family-intro > li {
    float: left;
    width: 33.33%;
    padding: 10px 20px;
  }
  section > ul p {
    margin-top: 10px;
  }
  section .family figure {
    width: calc(33.33% - 20px);
    height: 400px;
    margin: 10px;
    float: left;
  }
  section .family a {
    display: block;
    height: 280px;
  }
  section .family img {
    width: 100%;
    height: 100%;
  }
  section .family h2 {
    margin-top: 10px;
  }
  section .family p {
    margin-top: 10px;
    color: #666;
  }
  section .timeline > li {
    position: relative;
    margin-top: 40px;
  }
  section .timeline > li:nth-child(odd) {
    padding-right: calc(50% - 50px);
    text-align: right;
  }
  section .timeline > li::after {
    content: '';
    display: block;
    clear: both;
  }
  section .timeline img, 
  section .timeline .img { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid lightgray;
  }
  section .timeline .img {
    padding-top: 10px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
  }
  section .timeline > li:nth-child(odd) dl {
    margin-right: 120px;
  }
  section .timeline > li:nth-child(odd) img {
    float: right;
  }
  section .timeline > li:nth-child(even) {
    padding-left: calc(50% - 50px);
    text-align: left;
  }
  section .timeline > li:nth-child(even) dl {
    margin-left: 120px;
  }
  section .timeline > li:nth-child(even) img {
    float: left;
  }
  section .timeline dt {
    font-size:16px;
    font-weight: bold;
  }
  section .timeline dd:nth-of-type(1) {
  color: #666;
  }
  section .timeline > li::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: 0px;
    display: inline-block;
    height: 50px;
    width: 4px;
    background-color: lightgray;
  }
  section .timeline > li:last-child:before {
    height: 0;
  }
  .section-team {
    margin: 0 auto;
    padding: 250px 0 0 0;
    background: #f7f7f7;
}

.team {
    margin-top: 75px;
}

.team-mate {
    float: left;
    width: 33.33%;
}

.team-mate img {
    width: 225px;
    height: 225px;
    border: 5px solid white;
    border-radius: 50%;
}

@media(max-width:800px) {
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .name {
        min-width: 200px;
    }
}

section .icont-4 {
    font-size: 40px;
    background: black;
    color: #fff;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

.name i {
    margin-left: 15px;
    margin-top: 15px;
}

.name p,
h3 {
    margin-top: 10px;
}

.name p {
    color: gray;
    font-style: italic;
    font-size: 20px;
}

.name>i:hover {
    background: #f1d136;
}

.long-text {
    font-size: 17px;
    color: gray;
    width: 70%;
    margin: 50px auto 0 auto;
    padding-bottom: 100px;
}

.section-advertise img {
    margin: 50px 50px;
}

.section-contact {
    margin: 0 auto;
    width: 100%;
    height:
}

.fixclear::after {
    content: " ";
    display: block;
    clear: both;
}

.sub-bg {
    width: 100%;
    /* height: 100%; */
    background: url(https://chenleoxx.github.io/demos/companypage/images/%E5%BA%95%E9%83%A8.jpg) center center no-repeat;
    background-size: cover;
    text-align: center;
}

.sub-bg h1 {
    color: white;
    padding-top: 200px;
}

.btns {
    position: relative;
    padding-top: 60px;
}

.btns input {
    display: block;
    width: 40%;
    height: 60px;
    border-radius: 4px;
    margin: 15px;
    padding: 5px;
    border-style: none;
    float: left;
    margin-left: 130px;
}

.info {
    margin-bottom: 100px;
}

.msg {
    float: right;
    width: 40%;
    height: 260px;
    padding: 10px;
    border-radius: 4px;
    border-style: none;
    margin-right: 60px;
    margin-top: 20px;
}

.send-btn {
    background: #f1d136;
    color: white;
    min-width: 230px;
    min-height: 70px;
    border-radius: 4px;
    border-style: none;
    font-size: 20px;
    margin-bottom: 20px;
}

.section-right {
    max-width: 1000px;
    margin: 10px auto;
}

.foot-icont i:hover {
    background: #f1d136;
}

.section-right a {
    color: #F7BA3E;
}

@media (max-width:850px) {
    .btns input {
        display: flex;
        direction: column;
        align-items: center;
        
    }
    .btns textarea {
        margin: 0 auto;
    }
}