*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
  .button {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color:#f7ba3e;
    padding: 5px 10px;
    border-radius: 4px;
    opacity: 0.8;
  }
  .button:hover {
    opacity: 1;
  }
  .layout {
    width: 1200px;
    margin: 0 auto;
  }
  body {
    font: 14px/1.5 Arial;
    background-color:#fff;
    color: #444;
  }
  
  header .logo {
    color: #f7ba3e;
    font-size: 32px;
    float: left;
    margin-top: 10px;
  }
  header .nav {
    float: right;
  }
  header .nav > li {
    float: left;
    margin: 10px;
  }
  header .nav a {
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
  }
  header .nav a:hover {
    background: #f7ba3e;
  }
  header .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
  }
  header .intro h1 {
    font-size: 32px;
  }
  header .intro h2 {
    font-size: 46px;
    margin-top: 20px;
  }
  header .intro .button {
    margin-top: 20px;
  }
  section {
    margin-top: 30px;
    text-align: center;
  }
  section > h2 {
    font-size: 40px;
  }
  section > p {
    margin-top: 10px;
  }
  section > ul .iconfont {
    font-size: 60px;
  }
  section > ul > li {
    float: left;
    width: 33.33%;
    padding: 10px 20px;
  }
  section > ul p {
    margin-top: 10px;
  }
  section .family figure {
    width: calc(33.33% - 20px);
    height: 400px;
    margin: 10px;
    float: left;
  }
  section .family a {
    display: block;
    height: 280px;
  }
  section .family img {
    width: 100%;
    height: 100%;
  }
  section .family h2 {
    margin-top: 10px;
  }
  section .family p {
    margin-top: 10px;
    color: #666;
  }
  
  
  
  